<!DOCTYLE html>
<html>
<head>
    	<title>Profile</title>
	<link href = "{{ url_for('static', filename='editProfile.css') }}" rel = "stylesheet">
</head>

<body>
    <div class = "panel">
	<h2>Your Profile</h2>
	<form method="POST"> 
		<div class="container">

            <label for="name">Name</label>
			<br>
      			<input type="text"  name="name" value= "{{  user.getName() }}">
			<br>
            
            <br>
      			<label for="year">Year of Study</label>
				  <br>
				  <select name="year+" class = "dropDown" id="year+">
    				<option value= {{user.getYear()}} >{{  user.getYear() }}</option>
                    <option value="1">1st Year</option>
    				<option value="2">2nd Year</option>
    				<option value="3">3rd Year</option>
    				<option value="4">4th Year</option>
					<option value="5">5+ Year</option>
  				</select>
			<br>

			<br>
			<label for="major">Major</label>
			<br>
      			<input type="text" value="{{ user.getMajor() }}" name="major" required>
        		<br>
                <br>
            
            <label for="concen">Concentration</label>
            <br>
                <select name="concen" id="concen">
                    <option value="{{  user.getConcen() }}">{{  user.getConcen() }}</option>
                    <option value="Computer Game Development">Computer Game Development</option>
                    <option value="Software Engineering">Software Engineering</option>
                    <option value="Theoretical Computer Science">Theoretical Computer Science</option>
                    <option value="Scientific Computation">Scientific Computation</option>
                    <option value="Human-Computer Interactions">Human-Computer Interactions</option>
                    <option value="Computer Graphics">Computer Graphics</option>
                    <option value="Information Security">Information Security</option>
                    <option value="Networks and Distributed Computing">Networks and Distributed Computing</option>
                    <option value="Visualization and Analytics">Visualization and Analytics</option>
                    <option value="None">None</option>
                </select>
            <br>
            <br>

            <label for="interests">Your selections</label>
            <label for="userSel">{{ 
                user.getInterests()
            }}</label>

            <br>
            <label for="interests">Re-Select your interests</label>
            <br>
			<br>
			<div>
  				<input type="checkbox" id="int1" name="sport">
  				<label for="sport">Sports</label>
			</div>

			<div>
  				<input type="checkbox" id="int2" name="game">
  				<label for="game">Gaming</label>
			</div>

			<div>
  				<input type="checkbox" id="int3" name="read">
  				<label for="read">Reading</label>
			</div>

			<div>
  				<input type="checkbox" id="int4" name="code">
  				<label for="code">Coding</label>
			</div>

			<div>
  				<input type="checkbox" id="int5" name="music">
  				<label for="music">Music</label>
			</div>

			<div>
  				<input type="checkbox" id="int6" name="stock">
  				<label for="stock">Stock</label>
			</div>
			
			<div>
  				<input type="checkbox" id="int7" name="movies">
  				<label for="movies">Movies</label>
			</div>
			<br>


            <br>
            <label for="desc">Priority</label>
            <select name="priority" id="priority">
                <option value={{user.getPriority()}}>{{user.getPriority()}}</option>
				<option value="1">Year</option>
				<option value="2">Major</option>
				<option value="3">Concentration</option>
				<option value="5">Interests</option>
		  	</select>
			<br>

            <label for="desc">Description</label>
			<input type="text" id="descrip" name="descrip" value="{{  user.getDescription() }}"><br><br>


            <br>
			<button type="submit" class="button">Save and Submit</button>

			<button class="button">
				<a href = "/MainPage"> 
					Go Back
				</a>
				</button>
			
	</form> 
    </div>

</body>
</html>