<!DOCTYLE html>
<html>
<head>
    	<title> Login Page </title>
	    <link href = "web.css" rel = "stylesheet">
</head>

<body>
	<h2>Welcome, Please Login</h2>
    	<form method = "POST"> 
    		<div class="container">
      			<label for="username">Username</label>
			<br>
      			<input type="text" placeholder="Enter Username" name="username" required>
			<br>
			<br>
      			<label for="pswd">Password</label>
			<br>
      			<input type="password" placeholder="Enter Password" name="pswd" required>
        		<br>
			<br>
      			<button type="submit">Login</button>

    		</div>
	</form> 
	<br>
	<div class="container">
		<button>
		<a href = "createAccount"> 
			Create an Account
		</a>
		</button>
    	</div>

   

</body>
</html>